Codingtests
TestForsORF
LearningNextflow
test_nextflow
QRNA
ViennaRNA
TSSPred
RNAz-2.1
**/work
**/output
**/input
**/.nextflow
**/.vscode
**/bin/scripts/classes/__pycache__/
**/bin/scripts/classes/*.pyc