// Import default parameter values
includeConfig "conf/params.config"

process.cpus = 4

// process
// {
//     withName: WIGTOBEDGRAPH {
//         container = "mesaying/tsscaptur"
//     }
// }

 docker {
     process.container = "mwittep/tsscaptur"
     runOptions = "-v $params.BLASTDB:/tmp -v $params.DATA:$params.DATA"
     docker.enabled = true
 }