// References used in configs & processes
params {
    inputTable = "input/CampySubset/MasterTableSubset.tsv"
    inputGenomes = "input/CampySubset/fasta/"
    inputGFFs = "input/CampySubset/gff/"
    motifNumber = 5
    outputDir = "output/InterfaceTesting/"
    BLASTDB = "/ceph/ibmi/it/references/library/nt_new/"

    // Defaults
    cleanOlder              = 3
    pubDirMode              = "copy"
    dataPrepLabel           = "DataPreparation"
    memeLabel               = "MotifAnalysis"
    classificationLabel     = "Classification"
    terminatorPredLabel     = "TerminatorPrediction"
    rnaFoldLabel            = "SecondaryStructure"
    reportLabel             = "Report"

    // Own scripts
    pyScriptTableToQuery    = "${projectDir}/bin/scripts/tableToSeqsNotCross.py"
    pyScriptCommonSpecies   = "${projectDir}/bin/scripts/processCommonIDs.py"
    pyEvaluateBlast         = "${projectDir}/bin/scripts/processBlastFileNew.py"
    pyFromQRNAtoTSV         = "${projectDir}/bin/scripts/fromQRNAtoTSV.py"
    pyFromCNITtoTSV         = "${projectDir}/bin/scripts/fromCNITtoTSV.py"
    pyTransformRhoTermToGFF = "${projectDir}/bin/scripts/fromRhoTermToGFF.py"
    pyDecideClass           = "${projectDir}/bin/scripts/fromTablesToCRD.py"
    pyAllocateTerminators   = "${projectDir}/bin/scripts/allocateTerminators.py"
    pyExtractRNATranscripts = "${projectDir}/bin/scripts/extractTranscripts.py"
    pyMemeParser            = "${projectDir}/bin/scripts/memeParser.py"
    pyCreateReport          = "${projectDir}/bin/app.py"

    // Third party assets
    blastDB                 = "/tmp"
    cnit                    = "${projectDir}/bin/CNCI2.py"
    eqrnaLib                = "${projectDir}/bin/lib"
    eqrna                   = "${projectDir}/bin/eqrna"
    rhoTermPredict          = "${projectDir}/bin/RhoTermPredict.py"
    nocornac                = "${projectDir}/bin/nocornac.jar"
    nocornacConfig          = "${projectDir}/bin/config.conf"
    rnafold                 = "${projectDir}/bin/RNAfold"
    templates               = "${projectDir}/bin/templates"
    staticfiles             = "${projectDir}/bin/static"

    // Input Manager
    masterTable             = "${params.inputTable}"
    genomesPath             = "${params.inputGenomes}"
    gffPath                 = "${params.inputGFFs}"
    outputPath              = "${params.outputDir}"
    errorPath               = "${params.outputPath}/error.log"
}